@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Custom classes for animations */
.animate-slide-in-left {
  animation: slide-in-left 0.7s ease-in-out forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 0.7s ease-in-out forwards;
}

.react-datepicker-wrapper,
.react-datepicker__input-container input {
  width: 100% !important;
}
